// Paleta de Colores
$primary: #FEC7D7;
$black: #0E172C;
$white: #FFFFFE;
$secondary: #A786DF;
$tertiary: #D9D4E7;
$green: #85D1CE;
$blue: #91C1D7;
$grey: #535353;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin principal {
    background-color: $primary;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}


@mixin descripcion1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 327px;
    height: 489px;
    // left: 24px;
    // top: 150px;
}


// Sección logo pequeño
.logo-pequeño{
    @include principal();
    .logo-pequeño-container{
        width: 32px;
        height: 32px;
        background-image: url(./Imagenes/diamante1.png);    
    }
}

// Seccion logo-grande
.logo-grande{
    @include principal();
    .logo-grande-container{
        width: 160px;
        height: 160px;
        background-image: url(./Imagenes/diamante2.png);
    }
}

// Descripcion 1 

// .descripcion1-container{
//     background-color: $primary;
//     height: 100vh;
//     width: 100%;
//     .descripcion1{
//         .imagen-descripcion1{
//             background-image: url(./Imagenes/gatos_principales.png);
//             width: 330px;
//             height: 330px;
//         }
//     }
// }

.descripcion1{
    background-color: $primary;
    height: 100vh;
    width: 100%;
    .descripcion1-container{
        @include descripcion1-container();
        
    }
}





